<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>AddEntrySystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- START -->
  <servlet>
    <servlet-name>access</servlet-name>
    <servlet-class>Search.AccessServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>access</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>entry</servlet-name>
    <servlet-class>Search.RegisterServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>entry</servlet-name>
    <url-pattern>/Entry</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>end</servlet-name>
    <servlet-class>Search.EndServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>end</servlet-name>
    <url-pattern>/End</url-pattern>
  </servlet-mapping>
  
</web-app>